/* default media query is screen size less than 992px */
body {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    height: inherit;
    width: inherit;
    top: 0px;
    margin: 0;
}

.content-section {
    width: 100%;
}

main {
    margin:0;
    text-align: center;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.cover {
    margin: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url('../img/IMG_3514_scaled.png');
    background-size: 100% 100vh, cover;
    background-repeat: no-repeat;   
    animation: fadein 2s;
    display: block;
    height: 100vh;
    position: relative;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.topnav {
    display: flex;
    justify-content: space-between;
    color: white;
}

.topnav h1 {
    font-size: 3vw;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 40vw;
    letter-spacing: 2px;
}

.topnav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap; 
    flex-direction: row;
    text-align: left;
    justify-content: flex-end;
    margin: 0;
}

.topnav li {
    margin-right: 30px;
    margin-top: 10px;
    font-size: 2vw;
}

.topnav a {
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}


.topnav a:after { 
    display:block;
    content: '';
    border-bottom: 1px solid white;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;

}

.topnav a:hover:after {
    transform: scaleX(1);  
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0;
    position: absolute;
    bottom: 100px;
    left: 15%;
}


.banner h1 {
    position:relative;
    color: white;
    font-size: 10rem;
    font-size: 15vw;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    letter-spacing: 10px;
}

.banner h2 {
    color: white;
    font-size: 5vw;
    margin-top: -3.5vw;
    letter-spacing: 10px;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    margin-bottom: 30vh;
}

.banner p {
    color: white;
    font-size: 5vw;
    margin: 0px;
}

.banner #scroll {
    margin-top: -1vw;
    background-color: rgb(0,0,0,0);
    color: white;
    border: none;
    font-size: 10vh;
    font-weight: lighter;
    opacity: 0;
    animation-name: topFadeOut;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes topFadeOut {
    0% {
        position: relative;
        top: 0px;
        opacity: 0;
    }
  
    75% {
        position: relative;
        opacity: 1;
    }
  
    100% {
        position: relative;
        top: 50px;
        opacity: 0;
    }
}


.container h2 {
    font-size: 6vh;
    margin-bottom: 0px;
}

.text-wrap {
    margin: 0 10vw;
    font-size: 3vh;
}

.icons {
    font-size: 10vw;
    margin-bottom: 5vh;
}

.icons i {
    margin: 5vw 5vw;
}

hr {
    width: 70%;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5vh auto;
    padding: 7vw;
    box-shadow: 0 4px 8px 0  rgba(0,0,0,0.16), 0 6px 20px 0 rgba(0,0,0,0.23);
}

.card img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: 0% -5%;
}

.card h3 {
    font-size: 3.5vh;
}

.card p {
    font-size: 2vh;
    margin-bottom: 3vh;
}

.card a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    font-size: 2.5vh;
    border-radius: 2px;
    border: 2px solid rgb(33, 33, 33);
    color: rgb(33, 33, 33);
}

.card a:hover {
    background:rgb(33, 33, 33);
    color: white;
}

.links {
    margin-top: 3vh;
}

.technologies {
    display: flex;
    padding:0;
    flex-wrap: wrap;
}

.technologies li {
    font-size: 1.5vh;
    list-style-type: none;
    padding: 8px;
    background-color: rgba(97, 97, 121, 0.3);
    color: black;
    margin: 1vh 3vw;
}

.external {
    background-color:rgb(40, 40, 40);
}

.external ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.external li {
    font-size: 6vh;
    margin: 20px 30px;
}

.external a{
    color:white;
}

.external a:hover{
    color:grey;
}

.form {
    margin: 20px;
}

.form h2 {
    font-size: 6vh;
}

.form-group {
    margin: 0 5vw;
    text-align: left;
}

.form-row {
    margin: 10px;
    display:flex;
    flex-direction: column;
}

.form-row label {
    font-size: 3.5vh;
    margin-right: 20px;
    margin-bottom: 20px;
}

.form-control {
    color: white;
    background-color: black;
    padding: 0px;
    border:none;
    border-bottom: 1px solid rgb(189, 189, 189);
    outline: none;
    width: 100%;
    font-size: 3vh;
    font-weight: lighter;
}


.btn {
    text-decoration: none;
    padding: 10px;
    margin: 10px 30px;
    font-size: 2.5vh;
    border-radius: 2px;
    border: 2px solid rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    background: white;
}

.btn:hover {
    background:rgb(33, 33, 33);
    color: white;
}

.final-message {
    text-align: center;
    animation: fadein 1s;
}

footer {
    display:block;
    background-color: black;
    text-align: center;
    color: white;
}

.copyright {
    color: grey;
    padding: 30px;
    font-size: 2.5vh;
}

.count {
    font-size: 2vh;
    color: grey;
    font-weight: lighter;
    text-align: right;
}

.hitCounter {
    text-decoration: none;
}

@media (min-width:750px) {
    .banner {
        left: 22%;
        bottom: 0;
    }

    .banner h2 {
        margin-bottom: 10vh;
    }
}

@media (min-width:992px) {
    .banner #scroll {
        font-size: 15vh;
    }
   
    .icons {
        font-size: 7vw;
    }

    .cards {
        flex-direction: row;
        margin: 0 6vw;
    }

    .card {
        margin: 3vh 4vw;
        padding: 3vw;
        box-shadow: none;
    }

    .card:hover {
        box-shadow: 0 4px 8px 0  rgba(0,0,0,0.16), 0 6px 20px 0 rgba(0,0,0,0.23);
    }

    .technologies li  {
        margin: 10px 20px;
        font-size: 1.5vh;
    }

    .form-group {
        margin: 0 30vw;
    }
}